* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 700;
    font-size: 60px;
}
h2 {
    font-weight: 600;
    font-size: 50px;
}
p {
    margin-top: 30px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
}
.banner .content {
    text-align: center;
    padding: 175px 307px 175px 307px;
    color: #FFFFFF;
}
.banner .content p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary {
    height: 60px;
    border-radius: 5px;
    border: 0;
    padding: 16px 20px;
    background: #FF5959;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

/* Donate Today Section */
.donate-today {
    text-align: center;
    padding: 130px 150px;
}

.amount-container {
    display: flex;
    gap: 22px;
    margin: auto;
    width: 70%;
}
.container-item {
    background-color: #FAFAFA;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
}
.red {
    border: 2px solid #FF5959;
    background-color: #FF5959;
    opacity: 1;
}
.donate-today input {
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    border: none;
    border-bottom: 2px solid #DADADA;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.amount-container {
    margin-top: 30px;
    margin-bottom: 30px;
}